name: Publish Packages (RPM and APT) to GitHub Pages

on:
    release:
        types: [published]


jobs:
    publish:
        runs-on: Ubuntu-Latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                fetch-depth: 0

            - name: Download .deb and .rpm assets from Releases
              uses: robinraju/release-downloader@v1
              with:
                repository: ${{ github.repository }}
                tags: ${{ github.event.release.tag_name }}
                pattern: "*.deb,*.rpm"
                allow-no-assets: false

            - name: Install tools
              run: |
                sudo apt-get update
                sudo apt-get install -y dpkg-dev gnupg createrepo-c
            
            - name: prepare repo structure
              run: | 
                mkdir -p repo/apt/pool
                mkdir -p repo/rpm
                mv *.deb repo/apt/pool
                mv *.rpm repo/rpm

            - name: Build APT metadata
              run: |
                cd repo/apt
                mkdir -p dists/stable/main/binary-amd64
                mkdir -p dists/stable/main/binary-arm64
                # create Packages list in the pool directory (dpkg-scanpackages expects a directory to scan)
                dpkg-scanpackages pool /dev/null > dists/stable/main/binary-amd64/Packages || true
                gzip -kf dists/stable/main/binary-amd64/Packages || true
                # Create a Release file
                cat > Release <<'EOF'
                Origin: ${{ github.repository }}
                Label: splitwise
                Suite: stable
                Codename: stable
                Architecture: amd64
                EOF

            - name: Build RPM metadata
              run: |
                createrepo-c repo/rpm

            - name: Publish to Github Pages
              uses: peaceiris/actions-gh-pages@v3
              with:
                github_token: ${{ secrets.GITHUB_TOKEN }}
                publish_dir: repo
                publish_branch: gh-pages
